h1{
  font-family: 'Streamster';
  font-size: 50px;
  color: white;
  text-shadow: -2.5px -2.5px 0 black,
          2.5px -2.5px 0 black,
          -2.5px 2.5px 0 black,
          2.5px 2.5px 0 black;
}

body {
  /* background-image: url("https://i.gifer.com/2A5.gif"); */
  background-size: cover;
  /* background-repeat: repeat;   */
}

.formulario{
  background: rgba(0,0,0,.5);
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.568);
  color: white;
}

.form-control{
  background: rgba(0,0,0,.3);
  border-style: none;
  transition: 0.5s ease-in;
  outline: none;
  box-shadow: none;
}

.form-control:focus{
  background: none; 
  box-shadow: none;
  outline: none;
}

.form-control::placeholder{
  color: white;
}

.ingresar{
  background: #222A3F;
  padding: 10px;
  font-size: 16px;
  font-weight: 700! important;
  color: white;
  box-shadow: 0 0 30px rgba(0,0,0,0.568);
  transition: 0.5s ease-in;
}

.ingresar:haver {
  color: white;
}

.olvide{
  color: white;
  text-decoration-style: none;
  text-decoration-line: none;
}

.olvide:hover{
  color: white;
  text-decoration-style: none;
  text-decoration-line: none;
}

.olvide1 {
  color: white;
  text-decoration-style: none;
  text-decoration-line: none; 
  font-size: 20px;
  font-weight: 700!important;
  padding: 10px;
  border-radius: 10px;
  background: rgba(0,0,0,.5);
}

.olvide1:hover{
  color: white;
  text-decoration-style: none;
  text-decoration-line: none;
  cursor: pointer;
}